@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-icon {
    width: 2em;
    height: 2em;
  }
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #fa008e;
  }
  
.svg-icon circle {
    stroke: #fa008e;
    stroke-width: 1;
  }